<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div><br />

  <div class="field">
    <%= f.label :ユーザー名 %><br />
    <%= f.text_field :user_name %>
  </div><br />

  <div class="field">
    <%= f.label :生年月日 %><br />
    <%= f.date_select :birthday, { :use_month_numbers => true, start_year: 1980 } %>
  </div><br />

  <div class="field">
    <%= f.label :性別 %><br />
    <%= f.select :sex, User.sexes.keys %>
  </div><br />

  <div class="field">
    <%= f.label :学校名 %><br />
    <%= f.text_field :school_name %>
  </div><br />

  <div class="field">
    <%= f.label :ロール %><br />
    <%= f.select :role, User.roles.keys %>
  </div><br />

  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div><br />

  <div class="field">
    <%= f.label :パスワード（再入力） %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div><br />

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<!-- <%= render "devise/shared/links" %> ->
