<%= link_to "新規作成", new_interview_path %>
<%= form_tag interviews_path, method: :patch do %>
  <table>
    <thead>
      <th>日程</th>
      <th>ステータス</th>
    </thead>
    <% @interviews.each do | interview | %>
      <tr>
        <td><%= interview.date.strftime("%Y/%m/%d %H:%M") %></td>
        <td><%= interview.status %></td>
        <% if current_user.role == "guest" %>
          <td><%= link_to "編集", edit_interview_path(interview) %></td>
          <td><%= link_to "削除", interview, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
