<table>
  <tr>
    <td><%= link_to "ホーム", root_path %></td>
    <% if user_signed_in? %>
      <td>|</td>
      <td><%= link_to "プロフィール", edit_user_registration_path %></td>
      <td>|</td>
      <td><%= link_to "ユーザー一覧", users_path %></td>
      <td>|</td>
      <td><%= link_to "自分の面接一覧", interviews_path(current_user.id) %></td>
      <td>|</td>
      <td><%= link_to "ログアウト", destroy_user_session_path, method: :DELETE %></td>
    <% else %>
      <td>|</td>
      <td><%= link_to "サインアップ", new_user_registration_path %></td>
      <td>|</td>
      <td><%= link_to "サインイン", new_user_session_path %></td>
    <% end %>
  </tr>
</table>
